.banner{
    padding-top: 52px;
    height: 150px;
    width: 100%;
    background-color: lightgrey;
}

.clear-padding{
    padding:0;
}

.balance{
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 30px;
}

.form-container{
    padding: 15px;
}

.transaction-card{
    margin-right: 20px;
}

.transaction-button{
    float: right;
    margin-right: 10px;
    max-width: 120px;
    min-width: 80px;
}