.banner{
    padding-top: 52px;
    height: 150px;
    width: 100%;
    background-color: lightgrey;
}

.clear-padding{
    padding:0;
}

.balance{
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 30px;
}

#account-balance{
    color:#a2b679;
    font-size: 40px;
    font-weight: 700;
}

.form-container{
    padding: 15px;
}

.transaction-card{
    margin-right: 20px;
}

.transaction-button{
    float: right;
    margin-right: 10px;
    max-width: 100px;
    min-width: 120px;
}

#amount-input{
    display: flex;
}

#amount-input p {
    font-size: 24px;
    font-weight:400;
}


#amount{
    display:inline-block;
    width: 80%;
    margin-left: 5px;
    height: 38px;
}